{% extends "base.html" %}
{% block content %}
<h2>Signup</h2>
<form id="signupForm">
  <input class="form-control mb-2" placeholder="Email" name="email" required>
  <input class="form-control mb-2" placeholder="Username" name="username" required>
  <input class="form-control mb-2" type="password" placeholder="Password" name="password" required>
  <button class="btn btn-primary">Signup</button>
</form>

<script>
document.getElementById("signupForm").onsubmit = async (e) => {
  e.preventDefault();
  const formData = Object.fromEntries(new FormData(e.target).entries());
  const res = await fetch("/api/signup/", {
    method: "POST",
    headers: {"Content-Type":"application/json"},
    body: JSON.stringify(formData)
  });
  if (res.ok){
      alert("Signup successful! Please login.");
      window.location.href = '/login'
  } 
  else alert("Signup failed");
};
</script>
{% endblock %}
